<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
 <th:block th:fragment="content"/> 
 <th:block th:replace="~{/fragment/header::setContent(~{this::content}) }"/> 
<head>

<title>나의 예약내역</title>
</head>
<meta charset="UTF-8">
<body><br>
<div class="mybooking" style="height: 40px; display: flex; justify-content: center; ">
         <img src="/images/강아지발바닥.png" alt="My Image" width="40" height="40" >&nbsp;&nbsp;&nbsp;
         <p style="margin-top: 10px; font-size: 22px;">예약 내역</p>&nbsp;&nbsp;&nbsp;
         <img src="/images/강아지발바닥.png" alt="My Image" width="40" height="40" >
         
</div><br>
      <!-- booking 테이블에서 불러와야 함 -->
 <div class="style" style="text-align: center; margin: 0 aut0;">
          <hr style="border: solid 0.8px black; width: 725px; margin: 0 auto; "><br><br>
         <p style="font-size: 12px; word-spacing: 180px; ">번호&nbsp;예약내역&nbsp;예약일&nbsp;결제금액</p>
        <input type="text" class="form-control"name="review" style="width:725px;height: 250px; margin:0 auto;border-width:thin; border-color: gray;">
 </div>       
    
      
        

</body>
<th:block th:replace="~{/fragment/footer::setContent(~{this::content}) }"/>
</html>